<<<<<<< HEAD
﻿@model App.Web.ViewModels.Home.IndexViewModel
=======
﻿@model IEnumerable<App.Data.Models.Product>
>>>>>>> 6ca5c2744ff07e9ad93c0f5627d37f5deea149bf
@{
    ViewBag.Title = "Home Page";
}

<h1>Вицове</h1>
<div class="row">
    @foreach (var joke in Model.Jokes)
    {
        <div class="col-md-4">
            <a href="@joke.Url">
                @Html.Raw(joke.Content.Replace("\n", "<br />"))
            </a>
            <div>@joke.Category</div>
        </div>
    }
</div>

<h1>Категории</h1>
<div class="row">
<<<<<<< HEAD
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4">
            @category.Name
        </div>
    }
=======
    <h1>Test Product</h1>
    @*@foreach (var product in Model)
    {
        <div class="col-md-4">
            @product.Name
        </div>
    }*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
>>>>>>> 6ca5c2744ff07e9ad93c0f5627d37f5deea149bf
</div>